.hourse {
   position: relative;
   padding: 95px 0;
   .container {
      display: flex;
   }
   // .hourse__column
   &__column {
      color: #373844;
      font-family: "Playfair Display";
      font-size: 20px;
      font-style: italic;
      margin: 0 65px 0 0;
      & span {
         color: #fea100;
         font-family: "Playfair Display";
         font-size: 30px;
         font-weight: 700;
      }
      &:first-child {
         color: #14141d;
         font-family: "Playfair Display";
         font-size: 35px;
         font-weight: 700;
         line-height: 22px;
         margin: 0 155px 0 0;
      }
      &:last-child {
         margin: 0;
      }
   }
   &__bg {
      position: absolute;
      z-index: 1;
      top: -25%;
      right: -12%;
      & img {
         width: 37%;
      }
   }
   @media(max-width: 1440px) {
      &__bg {
         top: -17%;
         right: -540px;
         & img {
            width: 30%;
         }
      }
   }
   @media(max-width: 950px) {
      padding: 50px 0;
      .container {
         justify-content: space-between;
      }
      &__column {
         margin: 0;
         &:first-child {
            margin: 0;
         }
      }
      &__bg {
         top: -170px;
         right: -500px;
         & img {
            width: 40%;
         }
      }
   }
   @media(max-width: 700px) {
      padding: 35px 0;
      .container {
         flex-direction: column;
         align-items: center;
      }
      &__column {
         margin: 0 0 20px 0;
         &:first-child {
            margin:  0 0 20px 0;
         }
      }
   }
   @media(max-width: 625px) {
      &__bg {
         top: -95px;
         left: -95px;
         right: auto;
         & img {
            width: 32%;
         }
      }
   }
   @media(max-width: 452px) {
      &__bg {
         top: -70px;
         left: -78px;
         right: auto;
      }
   }
}