.recipies-page-screen {
   height: 100vh;
   max-height: 250px;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   &__title {
      position: relative;
      z-index: 1;
      font-size: 56px;
      line-height: 30px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Playfair Display";
      &::after {
         content: '';
         position: absolute;
         background-image: url(../img/right_leaf.png);
         width: 42px;
         height: 22px;
         background-size: contain;
         background-repeat: no-repeat;
         top: 75%;
         left: 100%;
         transform: translateY(-75%);
      }
      &::before {
         content: '';
         position: absolute;
         background-image: url(../img/left_leaf.png);
         width: 42px;
         height: 22px;
         background-size: contain;
         background-repeat: no-repeat;
         top: 75%;
         right: 100%;
         transform: translateY(-75%);
      }
   }
   &__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   }
   @media(max-width: 625px) {
      max-height: 175px;
      &__title {
         font-size: 45px;
      }
   }
}

.recipie-detals {
   padding: 100px 0;
   // .recipie-detals__title
   &__title {
      font-size: 35px;
      line-height: 22px;
      color: #14141d;
      font-weight: 700;
      font-family: "Playfair Display";
      text-align: center;
      margin: 0 0 15px 0;
   }
   // .recipie-detals__icon
   &__icon {
      text-align: center;
      margin: 0 0 35px 0;
   }
   // .recipie-detals__top
   &__top {
      position: relative;
      margin: 0 0 115px 0;
   }
   // .recipie-detals__img
   &__img {
      width: 100%;
      & img {
         width: 100%;
         height: 100%;
         max-height: 450px;
         object-fit: cover;
      }
   }
   &__container {
      width: 100%;
      max-width: 970px;
      margin: 0 auto;
   }
   // .recipie-detals__text
   &__text {
      font-size: 14px;
      line-height: 26px;
      color: #5c6369;
      font-weight: 400;
      font-family: "Sintony";
      margin: 0 0 50px 0;
   }
   @media(max-width: 768px) {
      padding: 50px 0;
      &__icon {
         margin: 0 0 25px 0;
      }
      &__top {
         margin: 0 0 60px 0;
      }
   }
   @media(max-width: 555px) {
      .container {
         padding: 0;
      }
      &__text {
         padding: 0 20px;
         margin: 0 0 20px 0;
      }
      &__top {
         margin: 0 0 35px 0;
      }
   }
}
.info-recipie-det {
   position: absolute;
   bottom: -60px;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   background-color: #ffffff;
   display: flex;
   box-shadow: 0px 19px 24.5px rgba(0,0,0,0.15);
   // .info-recipie-det__column
   &__column {
      flex: 0 1 65%;
      display: flex;
      align-items: center;
      &:last-child {
         flex: 0 1 35%;
         justify-content: flex-end;
      }
   }
   // .info-recipie-det__block
   &__block {
      font-size: 24px;
      line-height: 22px;
      color: #14141d;
      font-weight: 700;
      font-family: "Playfair Display";
      padding: 25px 85px 25px 40px;
      border-right: 1px solid #e8edef;
      &:last-child {
         border: none;
      }
      & span {
         font-weight: 400;
         font-size: 16px;
         color: #5c6369;
      }
      // .info-recipie-det__block_icon
      &_icon {
         padding: 0 82px 0 52px;
         background: url('../img/resipe/page/PDF.png') left no-repeat;
         transition: all .3s linear 0s;
         & span {
            transition: all .3s linear 0s;
         }
         &:hover {
            color: #fea100;
            & span {
               color: #d38a0c;
            }
         }
      }
   }
   @media(max-width: 1100px) {
      bottom: -45px;
      &__block {
         font-size: 21px;
         line-height: 21px;
         padding: 15px 40px 15px 25px;
         & span {
            font-size: 14px;
         }
         // .info-recipie-det__block_icon
         &_icon {
            padding: 0 75px 0 45px;
         }
      }
   }
   @media(max-width: 768px) {
      bottom: -35px;
      &__block {
         font-size: 18px;
         line-height: 18px;
         padding: 10px 10px 10px 40px;
         & span {
            font-size: 12px;
         }
         // .info-recipie-det__block_icon
         &_icon {
            padding: 0 35px 0 40px;
            background-size: 30px;
         }
         &__text {
            margin: 0 45px 0;
         }
      }
   }
   @media(max-width: 645px) {
      width: 101%;
      bottom: -15px;
      &__block {
         font-size: 16px;
         line-height: 16px;
         padding: 7px 7px 7px 14px;
         & span {
            font-size: 12px;
         }
         // .info-recipie-det__block_icon
         &_icon {
            padding: 0 25px 0 25px;
            background-size: 15px;
         }
      }
   }
   @media(max-width: 400px) {
      bottom: -12px;
      &__block {
         font-size: 14px;
         line-height: 14px;
         padding: 5px 5px 5px 10px;
         & span {
            font-size: 10px;
         }
         // .info-recipie-det__block_icon
         &_icon {
            padding: 0 17px 0 18px;
            background-size: 12px;
         }
      }
   }
}

.ingredients-recipie-det {
   display: flex;
   justify-content: space-between;
   background: url('../img/resipe/page/ingredients/shrimp.png') 37% -10% no-repeat;
   background-size: 228px;
   // .ingredients-recipie-det__column
   &__column {
      padding: 40px 0 0 0;
      &:last-child {
         background-color: #ffffff;
         padding: 40px 20px 70px 40px;
         box-shadow: 0px 19px 24.5px rgba(0,0,0,0.1);
         border: 1px solid rgba(237,237,237,0.7);
      }
   }
   // .ingredients-recipie-det__title
   &__title {
      font-size: 24px;
      line-height: 22px;
      color: #14141d;
      font-weight: 700;
      font-family: "Playfair Display";
      margin: 0 0 30px 0;
   }
   // .ingredients-recipie-det__elem
   &__elem {
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 40px;
      color: #14141d;
      font-weight: 700;
      font-family: "Sintony";
      background: url('../img/resipe/page/ingredients/marker.png') left no-repeat;
      padding: 0 0 0 45px;
   }
   @media(max-width: 1024px) {
      background: url(../img/resipe/page/ingredients/shrimp.png) right top no-repeat;
      background-size: 30%;  
      flex-direction: column;
      align-items: center;
      &__column {
         margin: 0 0 50px 0;
         &:last-child {
            padding: 40px 40px 70px 40px;
            margin: 0;
         }
      }
   }
   @media(max-width: 555px) {
      align-items: flex-start;
      &__column {
         margin: 0 0 35px 0;
         &:first-child {
            .ingredients-recipie-det__title {
               margin: 0 0 15px 20px;
            }
         }
         &:last-child {
            width: 100%;
            padding: 40px 20px 30px 20px;
         }
      }
      &__elem {
         font-size: 12px;
         letter-spacing: .4px;
         line-height: 34px;
         color: #14141d;
         font-weight: 700;
         font-family: "Sintony";
         background: url(../img/resipe/page/ingredients/marker.png) left no-repeat;
         padding: 0 0 0 27px;
         background-size: 21px;
         margin: 0 0 0 20px;
      }
   }
}

.columns-ingredients {
   display: flex;
   // .columns-ingredients__column
   &__column {
      text-transform: uppercase;
      &:first-child {
         margin: 0 100px 0 0;
      }
      &:nth-child(2) {
         margin: 0 80px 0 0;
      }
      & div {
         font-size: 13px;
         letter-spacing: 1px;
         line-height: 40px;
         color: #14141d;
         font-weight: 900;
         font-family: "Sintony";
         &:first-child {
            font-size: 18px;
            line-height: 22px;
            color: #fe4c8d;
            font-weight: 700;
            font-family: "Playfair Display";
            text-transform: none;
         }
      }
   }
   @media(max-width: 555px) {
      justify-content: space-between;
      &__column {
         text-transform: uppercase;
         &:first-child {
            margin: 0 20px 0 0;
         }
         &:nth-child(2) {
            margin: 0 15px 0 0;
         }
         & div {
            font-size: 12px;
            letter-spacing: .4px;
         }
      }
   }
}

.food-step {
   padding: 100px 0;
   position: relative;
   // .food-step__body
   &__body {
      max-width: 910px;
      position: relative;
      z-index: 1;
   }
   // .food-step__title
   &__title {
      font-size: 35px;
      line-height: 22px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Playfair Display";
      margin: 0 0 30px 0;
   }
   // .food-step__content
   &__content {
      max-height: 320px;
      overflow: auto;
      padding: 0 10px 0 0;
      &::-webkit-scrollbar {
         width: 9px;
      }
      &::-webkit-scrollbar-track {
         background-color: #cc8306;
         border-radius: 25px;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #503608;
         border-radius: 25px;
      }
   }
   // .food-step__item
   &__item {
      margin: 0 0 40px 0;
      display: flex;
   }
   // .food-step__step
   &__step {

   }
   // .food-step__text
   &__text {
      font-size: 14px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Sintony";
   }
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   @media(max-width: 768px) {
      padding: 50px 0;
   }
   @media(max-width: 500px) {
      .container {
         padding: 0 10px;
      }
      &__content {
         max-height: 400px;
      }
      &__item {
         margin: 0 0 25px 0;
      }
   }
}
.step-food {
   background-color: #cc8306;
   padding: 6px;
   margin: 0 30px 0 0;
   max-height: 72px;
   // .step-food__block
   &__block {
      line-height: 18px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Playfair Display";
      text-align: center;
      padding: 5px 12px;
      border: 3px solid #fea100;
   }
   // .step-food__number
   &__number {
      font-size: 30px;
      margin: 0 0 7px 0;
   }
   // .step-food__text
   &__text {
      font-size: 14px;
   }
   @media(max-width: 555px) {
      padding: 4px;
      margin: 0 14px 0 0;
      max-height: 67px;
   }
}
.featured-recipies {
   padding: 100px 0 0 0;
   &__title {
      font-size: 35px;
      line-height: 22px;
      color: #14141d;
      font-weight: 700;
      font-family: "Playfair Display";
      margin: 0 0 35px 0;
   }
   // .featured-recipies__block
   &__block {
      display: flex;
      margin: 0 -15px;
   }
   @media(max-width: 900px) {
      padding: 70px 0 0 0;
      &__block {
         flex-wrap: wrap;
         .item-recipies {
            flex: 0 1 50%;
            &:last-child {
               display: none;
            }
         }
      }
   }
   @media(max-width: 700px) {
      padding: 50px 0 0 0;
      &__block {
         justify-content: center;
         .item-recipies {
            flex: 0 1 90%;
            &:last-child {
               display: block;
            }
         }
      }
   }
   @media(max-width: 700px) {
      &__title {
         font-size: 30px;
         margin: 0 0 30px 0;
      }
      &__block {
         .item-recipies {
            flex: 0 1 100%;
            &:last-child {
               display: block;
            }
         }
      }
   }
}